In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
df = pd.read_csv('baseball.csv', low_memory=False)

In [3]:
def date_range(df=df, start_date=date(2018,1,1), end_date=date(2019,12,31)):
    df['date'] = pd.to_datetime(df['date'])
    df2 = df[df['date'].isin(pd.date_range(start_date,end_date))]
    return df2

In [4]:
def home_away(h_a,df=df):
    df2 = df.loc[(df['visitor_home'] == h_a)]
    return df2

In [5]:
def fav_dog(f_d, df=df):
    if f_d == 'f':
        return df.loc[df['money_line_close'] < 0]
    else:
        return df.loc[df['money_line_close'] > 0]

In [24]:
class Filter:
    
    def __init__(self, start_date, end_date, visitor_home, favorite_underdog):
        self.start_date = start_date
        self.end_date = end_date
        self.visitor_home = visitor_home
        self.favorite_underdog = favorite_underdog
        self.df = df

    def df_date_range(self):
        self.df['date'] = pd.to_datetime(self.df['date'])
        df_date_range = self.df[self.df['date'].isin(pd.date_range(self.start_date, self.end_date))]
        gameno_list_dates = df_date_range['gameno'].tolist()
        return gameno_list_dates
    
    def df_visitor_home(self):
        gameno_list_dates = self.df_date_range()
        df_v_h = self.df[self.df['gameno'].isin(gameno_list_dates)]
        df_v_h.loc[df_v_h['visitor_home'] == self.visitor_home]
        game_list_v_h = df_v_h['gameno'].tolist()
        return game_list_v_h
        
    def df_favorite_underdog(self):
        game_list_v_h = self.df_visitor_home()
        print(len(game_list_v_h))
        df_fav_dog = self.df[self.df['gameno'].isin(game_list_v_h)]
        if self.favorite_underdog == 'fav':
            df_fav_dog.loc[(df_fav_dog['visitor_home'] == self.visitor_home) & (df_fav_dog['money_line_close'] < 0)]
            game_list_f_u = df_fav_dog['gameno'].tolist()
            print(len(game_list_f_u))
            return self.df[self.df['gameno'].isin(game_list_f_u)]
        else:
            pass

In [25]:
f = Filter(date(2016, 1, 1), date(2017,1,1), 'H', 'fav')
df2 = f.df_favorite_underdog()
df2.tail()

4924
4924

,Unnamed: 0,date,gameno,team,visitor_home,team_run_total,total_runs_game,money_line_close,money_line_open,over_under_line_close,over_under_line_open,over_under_odds_close,over_under_odds_open,pitcher,rot,run_dif_game,run_line_close,run_line_odds_close
34503,34503,2016-10-30,17251,CHC,H,3.0,5.0,-220.0,-214,6.5,6.5,-115,-107,JLESTER-L,906,1.0,-1.5,-101.0
34504,34504,2016-11-01,17252,CHC,V,9.0,12.0,-156.0,-137,7.5,7.0,-115,-123,JARRIETA-R,951,6.0,-1.5,111.0
34505,34505,2016-11-01,17252,CLE,H,3.0,12.0,141.0,122,7.5,7.0,-105,103,JTOMLIN-R,952,-6.0,1.5,-131.0
34506,34506,2016-11-02,17253,CHC,V,8.0,15.0,-134.0,-110,6.5,7.0,-110,-120,KHENDRCKS-R,901,1.0,-1.5,142.0
34507,34507,2016-11-02,17253,CLE,H,7.0,15.0,119.0,100,6.5,7.0,-110,100,CKLUBER-R,902,-1.0,1.5,-162.0

In [8]:
78929312

78929312

In [9]:
39426/2

19713.0

In [10]:
df2.loc[df['gameno'] == 19713]

Empty DataFrame
Columns: [Unnamed: 0, date, gameno, team, visitor_home, team_run_total, total_runs_game, money_line_close, money_line_open, over_under_line_close, over_under_line_open, over_under_odds_close, over_under_odds_open, pitcher, rot, run_dif_game, run_line_close, run_line_odds_close]
Index: []