In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('baseball.csv', low_memory=False)

In [3]:
data.tail(6)

,Unnamed: 0,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,...,rot,rundif,runline,runlineodds,team,totalruns,vh,winrl,wintotal,gameno
44650,280,1.0,0.0,0.0,0.0,0,0,0,0,0,...,925,-1,1.5,-180.0,MIN,3,V,True,False,22316
44651,281,0.0,0.0,0.0,0.0,0,2,0,0,x,...,926,1,-1.5,155.0,PHI,3,H,False,True,22316
44652,282,1.0,0.0,0.0,1.0,0,0,0,1,0,...,927,3,-1.5,148.0,TB,3,V,True,False,22317
44653,283,0.0,0.0,0.0,0.0,0,0,0,0,0,...,928,-3,1.5,-170.0,SF,3,H,False,True,22317
44654,284,0.0,0.0,0.0,0.0,0,0,1,0,0,...,929,1,-1.5,130.0,BOS,1,V,False,False,22318
44655,285,0.0,0.0,0.0,0.0,0,0,0,0,0,...,930,-1,1.5,-150.0,ARI,1,H,True,True,22318

In [9]:
count = 0
for i,g in data.groupby(['gameno']):
    o_u = g[::2]
    if o_u.wintotal.all() == True:
        count += 1
print(count)

10448

In [8]:
44654/2

22327.0

In [10]:
10448/22327

0.4679535987817441

In [12]:
(100/110)*50 + 50

95.45454545454545