In [1]:
import pandas as pd
import numpy as np
import time
import datetime

In [2]:
df10 = pd.read_csv('2010SKED.TXT', sep=',', header=None)
df11 = pd.read_csv('2011SKED.TXT', sep=',', header=None)
df12 = pd.read_csv('2012SKED.TXT', sep=',', header=None)
df13 = pd.read_csv('2013SKED.TXT', sep=',', header=None)
df14 = pd.read_csv('2014SKED.TXT', sep=',', header=None)
df15 = pd.read_csv('2015SKED.TXT', sep=',', header=None)
df16 = pd.read_csv('2016SKED.TXT', sep=',', header=None)
df17 = pd.read_csv('2017SKED.TXT', sep=',', header=None)
df18 = pd.read_csv('2018SKED.TXT', sep=',', header=None)

In [3]:
df_list = [df10,df11,df12,df13,df14,df15,df16,df17,df18]

In [4]:
for df in df_list:
    df.drop(df.tail(1).index,inplace=True)

In [5]:
for df in df_list:
    df.columns = ['date','num_games','day_of_week','visitor','vl','game_num','home','hl','game_num2','time_of_day','postponed','makeup_date']

In [6]:
for df in df_list:
    df.drop(['num_games','vl','game_num','game_num2','hl'],axis=1, inplace=True)
    df.fillna(0, inplace=True)

In [7]:
for df in df_list:
    df['date'] = df['date'].astype(str)
    pd.to_numeric(df['date'])
    df['date'] = pd.to_datetime(df['date'], errors='ignore', utc=True, format="%m%d%Y")

In [8]:
for df in df_list:
    df.replace('NYA','NYY',inplace=True)
    df.replace('SDN','SD',inplace=True)
    df.replace('CHN','CHC',inplace=True)
    df.replace('SLN','STL',inplace=True)
    df.replace('NYN','NYM',inplace=True)
    df.replace('SFN','SF',inplace=True)
    df.replace('FLO','MIA',inplace=True)
    df.replace('LAN','LAD',inplace=True)
    df.replace('TBA','TB',inplace=True)
    df.replace('KCA','KC',inplace=True)
    df.replace('CHA','CWS',inplace=True)
    df.replace('FLO','MIA',inplace=True)

In [9]:
df1 = pd.concat(df_list, sort=True)

In [10]:
df1.to_csv('schedule.csv')

In [11]:
df1.head()

       date day_of_week home makeup_date postponed time_of_day visitor
0  20100404         Sun  BOS           0         0           N     NYY
1  20100405         Mon  ANA           0         0           N     MIN
2  20100405         Mon  ARI           0         0           D      SD
3  20100405         Mon  ATL           0         0           D     CHC
4  20100405         Mon  CWS           0         0           D     CLE